
{{#each this}}
<tr class="goodRow" data-id="{{idDrink}}">
    <td><img src="{{strDrinkThumb}}" alt="" class="d_img"></td>
    <td>{{strDrink}}</td>
    <td><span class="reduce">-</span> <span class="count">{{count}}</span>   <span class="add">+</span></td>
    <td>{{price}}</td>
    <td><img src="https://www.freeiconspng.com/uploads/remove-icon-png-24.png" alt="" class="bin"> </td>
</tr>
{{/each}}

